<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="myoracle.com.quotes">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">


        </activity>
        <activity android:name=".SplashActivity"></activity>
        <activity
            android:name=".QuotesActivity" android:parentActivityName=".QuotesCardActivity">
        </activity>
        <activity
            android:name=".StoryDetailsActivity" >
        </activity>
        <activity
            android:name=".QuotesCardActivity" android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".TabActivity" android:parentActivityName=".TabActivity" >
        </activity>
        <activity android:name=".WallpaperDeatilsActivity"/>
        <activity android:name=".MindTriksQuestionsActivity"/>
        <activity android:name=".AppFeedbackActivity"/>
        <activity android:name=".WinesActivity"/>
        <activity android:name=".PostDetailActivity"/>
        <activity android:name=".NewPostActivity"/>
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".LogInActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".PrivacyActivity"/>
        <receiver android:name=".notification.NotificationPublisher" />
        <!-- Firebase Notifications -->

        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:ignore="UnusedAttribute" />


    </application>


</manifest>